.detail {
  width: 66.66%;
  padding: 0 20px 0 0;
  &__breadcumb {
    padding: 0 0 10px;
    font-size: 12px;
  }
  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
    border-radius: 6px;
    height: 0;
    padding-top: 60%;
  }
  &__title {
    margin: 20px 0 10px;
    font-size: 30px;
    font-family: Varela Round, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    @extend %border-bottom-10;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    @extend %border-bottom-10;
  }
  &__author {
    display: flex;
    align-items: center;
  }
  &__author-avatar {
    margin: 0 10px 0 0;
    img {
      border-radius: 50%;
    }
  }
  &__post {
    // @extend %border-bottom-20;
    padding: 0 0 20px 0;
  }
  &__comment {
    font-size: 14px;
    color: color(gray);
    padding: 5px 0 0;
    &:before {
      content: "Bình luận:";
    }
  }
  &__date {
    font-size: 14px;
    color: color(gray);
  }
  &__author-name {
    font-size: 1rem;
    text-rendering: optimizelegibility;
    color: color(navy);
    font-weight: 700;
    &:before {
      content: "Chia sẻ bởi:";
      font-size: 14px;
      display: block;
      color: color(black);
    }
  }
}
