.detail {
  width: 66.66%;
  padding: 0 20px 30px 0;
  @include sp() {
    width: 100%;
    padding: 0 0 30px;
  }
  &__breadcumb {
    padding: 0 0 10px;
    font-size: 12px;
  }
  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 30px 0;
    padding: 0;
    width: 100%;
    height: 0;
    padding-top: 60%;
  }
  &__title {
    margin: 0 0 20px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__author {
    display: flex;
    align-items: center;
  }
  &__author-avatar {
    margin: 0 10px 0 0;
    img {
      border-radius: 50%;
    }
  }
  &__author-name {
    font-size: 1rem;
    text-rendering: optimizelegibility;
    color: color(blue);
    font-weight: 700;
    line-height: 20px;
    &:before {
      content: 'Chia sẻ bởi:';
      font-size: 14px;
      color: color(night-rider);
    }
  }
  &__post {
    padding: 0 0 20px 0;
    h1 {
      font-size: 2em;
    }
  
    h2 {
      font-size: 1.5em;
    }
  
    h3 {
      font-size: 1.17em;
    }
  
    h4 {
      font-size: 1.17em;
    }
  
    h5 {
      font-size: 0.83em;
    }
  
    h6 {
      font-size: 0.67em;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
      margin: 20px 0;
    }
  
    img {
      margin: 20px 0;
    }
  
    p {
      line-height: 28px;
      font-size: 16px;
    }
  
    strong {
      font-weight: bold;
    }
    a {
      text-decoration: underline;
      color: blue;
    }
  }
  &__comment {
    font-size: 14px;
    color: color(gray);
    padding: 5px 0 0;
    position: relative;
    &:after {
      content: ' Bình luận';
    }
  }
  &__comment-icon {
    color: color(gray);
    position: absolute;
    margin-left: 2px;
    margin-top: 4px;
    left: -20px;
    top: 3px;
    width: 15px;
    height: 10px;
    border: solid 1px currentColor;
    background-color: currentColor;
    border-radius: 2px;
    &:before {
      content: '';
      position: absolute;
      left: 3px;
      top: 7px;
      width: 4px;
      height: 4px;
      background-color: currentColor;
      border-bottom: solid 1px currentColor;
      border-right: solid 1px currentColor;
      transform: rotate(45deg);
    }
  }
  &__align-right {
    text-align: right;
    font-size: 14px;
  }
  &__date {
    padding: 5px 0 0;
    color: color(gray);
  }
  &__views {
    padding: 5px 0 0;
    position: relative;
    color: color(gray);
    &:before {
      display: inline-block;
      content: '';
      color: currentColor;
      position: absolute;
      margin-left: 3px;
      margin-top: 3px;
      top: 4px;
      left: -20px;
      width: 12px;
      height: 12px;
      border-radius: 70% 15%;
      border: solid 1px currentColor;
      transform: rotate(45deg);
      background: currentColor;
    }
    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      color: color(white);
      left: -14px;
      top: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: solid 1px currentColor;
      background: color(gray);
    }
  }
  &-category {
    @extend %border-bottom-20;
    &__title {
      font-weight: 700;
    }
    &__list {
      margin: 20px 0;
    }
    a {
      padding: 10px;
      border: 1px solid color(white-smoke);
      color: color(gray);
      &:hover {
        border: 1px solid color(light-nero);
        color: color(nero);
      }
    }
  }
}

.related {
  @extend %border-bottom-20;
  position: relative;
  overflow: hidden;
  &__main-title {
    margin: 0 0 20px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__list {
    display: flex;
    position: relative;
    width: 100%;
    transform: translateX(-77%);
    margin: 15px 0 17px;
    @include sp() {
      transform: translateX(-64%);
    }
  }
  &__item {
    position: relative;
    width: 82%;
    flex-shrink: 0;
    margin: 0 10px;
    @include sp() {
      width: 70%;
    }
  }
  &__item-transition {
    transition: transform 0.5s ease;
  }
  &__item-left {
    transform: translateX(-100%);
  }
  &__item-right {
    transform: translateX(100%);
  }
  &__btn {
    position: absolute;
    background: transparent;
    height: 370px;
    width: 60px;
    top: 37%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
  }
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }
  &__flex {
    display: flex;
  }
  &__link {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    font-size: 12px;
    margin: 15px 0 20px;
    @include sp() {
      margin: 10px 0;
    }
  }
  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    padding-top: 60%;
  }
  &__info {
    margin: 20px 0;
    @include sp() {
      margin: 10px 0 0;
    }
  }
  &__author {
    font-weight: 200;
    color: color(blue);
    &:before {
      content: 'by:';
      color: color(night-rider);
    }
    &:after {
      content: '';
      width: 1px;
      height: 10px;
      margin: 0 10px;
      border-right: 1px solid;
      opacity: 0.6;
      display: inline-block;
      color: color(night-rider);
    }
  }
  &__date {
    &:after {
      content: '';
      width: 1px;
      height: 10px;
      margin: 0 10px;
      border-right: 1px solid;
      opacity: 0.6;
      display: inline-block;
      color: color(night-rider);
    }
    @include sp() {
      &:after {
        display: none;
      }
    }
  }
  &__comment {
    @include sp() {
      display: none;
    }
  }
  &__comment-icon {
    display: inline-block;
    color: color(black);
    position: absolute;
    width: 15px;
    height: 10px;
    border: solid 1px currentColor;
    border-radius: 2px;
    margin: 0 0 0 10px;
    @include sp() {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      left: 3px;
      top: 7px;
      width: 4px;
      height: 4px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: white;
      border-bottom: solid 1px currentColor;
      border-right: solid 1px currentColor;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
  }
  &__title-first {
    font-size: 20px;
    line-height: 1.45;
  }
  &__description {
    font-weight: 100;
  }
}

.share-social {
  &__title {
    font-weight: 700;
    margin: 0 0 20px;
  }
  &__list {
    display: flex;
    @extend %border-bottom-20;
  }
  &__item {
    margin: 0 5px;
    &-facebook {
      background-color: #4267b2;
    }
    &-twitter {
      background-color: #1da1f2;
    }
    &-linkedin {
      background-color: #0e76a8;
    }
    &-pinterest {
      background-color: #e60023;
    }
    &-whatsapp {
      background-color: #25d366;
    }
    &-reddit {
      background-color: #ff5700;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    img {
      height: 40px;
      width: 40px;
    }
  }
}
