//colors
$color: (
    white: (
        base: rgba(255,255,255,1),
    ),
    black: (
        base: rgba(0,0,0,1),
    ),
    gray: (
        base: rgba(128,128,128,1),
    ),
    alabaster: (
        base: rgba(244,242,235,1)
    ),
    fantasy: (
        base: rgba(242, 234, 223,1)
    ),
    white-smoke: (
        base: rgba(234,234,234,1)
    ),
    maire: (
        base: rgba(39, 37, 32, 1)
    ),
    navy: (
        base: rgba(7, 104, 234, 1)
    )

);