//colors
$color: (
    white: (
        base: rgba(255,255,255,1),
    ),
    black: (
        base: rgba(0,0,0,1),
    ),
    gray: (
        base: rgba(128,128,128,1),
    ),
    navy: (
        base: rgba(7, 104, 234, 1)
    ),
    yellow: (
        base: rgba(251, 210, 39, 1)
    ),
    blue: (
        base: rgba(33, 150, 243, 1)
    ),
    white-smoke: (
        base: rgba(238, 238, 238, 1)
    ),
    night-rider: (
        base: rgba(49, 49, 49, 1) //313131
    ),
    nero: (
        base: rgba(19, 19, 19, 1) //131313
    ),
    light-nero: (
        base: #212121
    )
);