// header menu

.header-menu {
  @extend %flex-center;
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    @extend %flex-center;
    margin: 0 28px 0 0;
    font-size: 1.2vw;
    cursor: pointer;
  }

  &__image-wrapper {
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
  }

  &__image {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 320px) and (max-width: 992px) {
  .header-menu {
    display: none;
  }
}
