.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  &__container {
    border-bottom: 1px solid #e5e5e5;
  }
  &__logo {
    @include sp() {
      margin: 0;
    }
  }
  &__logo-image {
    width: 100px;
    height: 120px;
  }
  &__nav {
    box-shadow: 0px 2px 5px rgb(0 0 0 / 11%);
  }
  &__search-form {
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
  }
  &__search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    background: #fff;
    border: none;
    &:before {
      content: ' ';
      position: absolute;
      height: 12px;
      width: 3px;
      background: #000;
      transform: translate(6px, 6px) rotate(315deg);
      transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
    }
    &:after {
      content: ' ';
      position: absolute;
      width: 15px;
      height: 15px;
      border: 3px solid #000;
      border-radius: 50%;
      transform: translate(-4px, -4px);
    }
  }
  &__search-wrapper {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    align-items: center;
  }
  &__search-input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 0;
    color: #000;
  }
  &__menu-btn {
    display: flex !important;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  &__menu-btn-span {
    display: block;
    position: absolute;
    height: 1px;
    width: 17px;
    background: color(nero);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 12px;
      transform-origin: left center;
      left: 9px;
    }
    &:nth-child(2) {
      top: 16px;
      transform-origin: left center;
      left: 9px;
    }
    &:nth-child(3) {
      top: 20px;
      transform-origin: left center;
      left: 9px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  a {
    text-decoration: none;
  }
  .dropdown-menu {
    position: absolute;
    border: 1px solid #ccc;
    display: none;
    border-radius: 5px;
    li {
      border-bottom: 1px solid #ccc;
      padding: 10px 10px;
      background: white;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: gray;
      }
    }
  }
  .show {
    display: block;
  }
  .multi-level {
    top: 40px;
  }
  .dropdown-submenu {
    .dropdown-menu {
      left: 100%;
      min-width: 160px;
    }
    .end-level {
      top: 0px;
    }
  }
}


