.category {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @extend %border-bottom-20;
  a {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    min-width: 20%;
    margin: 5px 5px;
    padding: 0 1.5rem;
    color: color(white);
    border-radius: 0.5rem;
    background: linear-gradient(45deg, #0e71c8, #1da1f2);
    box-shadow: 0px 4px 10px rgba(19, 127, 212, 0.5);
  }
}
