.categories {
  margin: 40px 0 0;
  &__main-title {
    color: color(white);
    background: color(nero);
    padding: 12px 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 30px;
  }
  &__item {
    margin: 0 0 10px;
    padding: 0 0 12px;
    border-bottom: 1px solid color(white-smoke);
    font-size: 14px;
    color: color(nero);
    font-weight: 100;
  }
}
