// index
* {
  font-family: map-get($font-family, noto-sans);
}

.content {
  background: color(alabaster);
}

.container {
  position: relative;
  margin: 0 160px;
  @include sp() {
    margin: 0 30px;
  }
}

.banner {
  position: relative;
  flex-direction: column;
  @extend %flex-center;
  &__image-wrapper {
    width: 100%;
  }
  &__image {
    width: 100%;
  }
  &__title {
    display: flex;
    flex-direction: column;
  }
  &__image-slogan {
    width: 200px;
    margin: 30px auto 40px;
  }
}

.notification {
  @extend %flex-center;
  height: 50px;
  background: color(white);
  margin: 20px 0;
  position: absolute;
  top: 0%;
  width: 60%;
  opacity: 0;
  animation: fadeinout 5s linear forwards;
  &__icon {
    @extend %flex-center;
    height: 24px;
    width: 24px;
    color: color(white);
    background: color(gray);
    border-radius: 50%;
  }
  &__date {
    color: color(gray);
    margin: 0 35px 0 20px;
  }
}

.section-about {
  background: color(white-smoke);
}

.about {
  position: relative;
  margin: 200px 0 0;
  height: 1020px;
  &__background {
    position: absolute;
    width: 55%;
    height: 380px;
    background: color(fantasy);
    z-index: 0;
    top: 255px;
    @include sp() {
      width: 90%;
      top: 350px;
    }
  }
  &__tag {
    font-weight: lighter;
    margin: 0 0 40px;
    display: inline-block;
    padding: 0 0 5px 0;
    border-bottom: 1px solid;
  }
  &__wrapper {
    display: flex;
    @include sp() {
      display: block;
    }
  }
  &__title-wrapper {
    width: 47%;
    @include sp() {
      width: 100%;
    }
  }
  &__title {
    font-size: 3vw;
    line-height: 1.5;
    @include sp() {
      font-size: 2rem;
      font-weight: bold;
    }
    img {
      @include sp() {
        padding: 10px 5px 10px 0;
      }
    }
  }
  &__description-wrapper {
    width: 53%;
    font-size: 1.2vw;
    @include sp() {
      width: unset;
      font-size: unset;
      line-height: 2;
    }
  }
  &__description {
    margin: 0 0 40px;
  }
  &__background-image {
    position: absolute;
    top: 510px;
  }
  &__background-image-left {
    top: 730px;
    left: 100px;
    @include sp() {
      position: relative;
      top: 200px;
      left: unset;
      text-align: center;
    }
    img {
      width: 340px;
      height: 200px;
      @include sp() {
        // width: ;
      }
    }
  }
  &__background-image-right {
    right: 0;
    @include sp() {
      text-align: right;
      bottom: 160px;
      top: unset;
    }
    img {
      width: 780px;
      height: 315px;
      @include sp() {
        width: 90%;
        height: 150px;
      }
    }
  }
}

.bases {
  @include sp() {
    margin: 200px 0 0;
  }
  &__wrapper {
    text-align: center;
    margin: 0 0 20px;
  }
  &__tag {
    font-weight: lighter;
    margin: 0 0 30px;
    display: inline-block;
    padding: 0 0 5px 0;
    border-bottom: 1px solid;
  }
  &__title {
    font-size: 3vw;
    display: block;
    @include sp() {
      font-size: 2rem;
    }
  }
  &__list-title {
    @extend %flex-center;
    justify-content: space-between;
    margin: 60px 0;
  }
  &__list-title-item {
    width: 260px;
    padding: 10px 0px;
    border-bottom: 1px solid;
    @include sp() {
      width: 75px;
    }
  }
  &__link {
    @extend %flex-center;
    justify-content: space-between;
  }
  &__lamp-text {
    @include sp() {
      display: none;
    }
  }
  &__list-title-icon {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: 0 0 10px 0;
  }
}

.bases-list {
  margin: 150px 0 0 0;
  @include sp() {
    margin: 100px 0 0 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include sp() {
      flex-direction: column-reverse;
    }
  }
  &__item {
    position: relative;
    height: 530px;
    width: 100%;
    margin: 350px 0 0 0;
    background: color(fantasy);
    @include sp() {
      height: unset;
      margin: 150px 0 0 0;
      padding: 0 0 50px 0;
    }
    &:first-child {
      margin: 0;
    }
  }
  &__flex-image {
    width: 45%;
    @include sp() {
      width: 100%;
    }
  }
  &__image-wrapper {
    position: relative;
  }
  &__image {
    position: absolute;
    right: 0;
    top: -60px;
    height: 320px;
    z-index: 2;
    @include sp() {
      display: none;
    }
  }
  &__image-sp {
    display: none;
    @include sp() {
      display: block;
    }
  }
  &__image-reverse {
    right: unset;
    @include sp() {
      top: -670px;
    }
  }
  &__image-absolute {
    position: absolute;
    right: -100px;
    top: 300px;
    @include sp() {
      top: 570px;
      right: unset;
      display: none;
    }
  }
  &__image-absolute-sp {
    display: none;
    @include sp() {
      display: block;
    }
  }
  &__image-absolute-reverse {
    right: unset;
    left: -100px;
  }
  &__name {
    position: absolute;
    color: color(alabaster);
    font-size: 8rem;
    font-weight: bold;
    right: 0;
    top: 180px;
    @include sp() {
      font-size: 3rem;
      top: unset;
      bottom: 200px;
    }
  }
  &__name-reverse {
    right: unset;
  }
  &__information {
    width: 45%;
    text-align: left;
    z-index: 1;
    margin: 20px 0 0;
    @include sp() {
      width: unset;
      margin: 50px 0 0;
    }
  }
  &__title {
    position: absolute;
    top: -20px;
    font-size: 2vw;
    @include sp() {
      top: -25px;
      font-size: 2rem;
    }
    img {
      height: 30px;
      margin: 0 10px 0 0;
      @include sp() {
        height: 40px;
        margin: 0 10px 0 0;
      }
    }
  }
  &__description {
    margin: 30px 0;
  }
  &__link {
    position: absolute;
    bottom: -17px;
    left: 160px;
    @include sp() {
      width: 100%;
      left: unset;
    }
  }
  &__button {
    border: 1px solid color(maire);
    color: white;
    background: color(maire);
    border-radius: 15px;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 268px;
    padding: 9px;
    font-size: 14px;
    @include sp() {
      width: 200px;
      height: 38px;
    }
    &:before {
      content: “”;
      display: block;
      height: 1px;
      width: 12px;
      background-color: color(black);
      position: absolute;
      right: -43px;
      transform: rotate(45deg);
      top: 13px;
      transition: transform 0.3s ease-out;
      @include sp() {
        width: 12px;
        right: -32px;
        top: 13px;
      }
    }
    &:after {
      content: “”;
      display: block;
      height: 1px;
      width: 105px;
      background-color: color(black);
      position: absolute;
      right: -41px;
      top: 17px;
      transition: transform 0.3s ease-out;
      @include sp() {
        width: 65px;
        right: -30px;
        top: 17px;
      }
    }
  }
  &__link-reverse {
    right: 160px;
    left: unset;
    @include sp() {
      right: unset;
    }
  }
  &__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-left: 1px solid color(fantasy);
    margin: 20px 0;
    @include sp() {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__table-item {
    @extend %flex-center;
    justify-content: space-between;
    padding: 15px 10px;
    background: color(white);
    border-bottom: 5px solid color(fantasy);
    border-right: 5px solid color(fantasy);
    &:nth-child(-n + 3) {
      border-top: 1px solid color(fantasy);
    }
    &:nth-child(2n) {
      @include sp() {
        border-right: unset;
      }
    }
  }
  &__table-item-image {
    height: 20px;
  }
  &__table-item-description {
    text-align: right;
  }
}

.project {
  margin: 140px 0 0;
  &__title {
    margin: 0 auto 30px;
    font-size: 3vw;
    @include sp() {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &__tag {
    font-weight: lighter;
    margin: 0 0 40px;
    display: inline-block;
    padding: 0 0 5px 0;
    border-bottom: 1px solid;
  }
  &__description {
    margin: 20px 0;
  }
  &__wrapper {
    @include sp() {
      position: relative;
      overflow: hidden;
    }
  }
  &__list {
    display: flex;
    margin: 15px 0;
    @include sp() {
      position: relative;
      width: 100%;
      transform: translateX(-77%);
    }
  }
  &__item {
    width: 33.33%;
    @include sp() {
      position: relative;
      width: 84.5%;
      flex-shrink: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__item-transition {
    transition: transform 0.5s ease;
  }
  &__item-left {
    transform: translateX(-100%);
  }
  &__item-right {
    transform: translateX(100%);
  }
  &__btn {
    @include sp() {
      position: absolute;
      background: slategrey;
      height: 250px;
      width: 40px;
      top: 36%;
      transform: translateY(-50%);
      z-index: 1;
      opacity: 0;
    }
  }
  &__prev {
    @include sp() {
      left: 0;
    }
  }
  &__next {
    @include sp() {
      right: 0;
    }
  }
  &__image-wrapper {
    margin: 0 0 25px 0;
  }
  &__image {
    width: 100%;
    height: 250px;
  }
  &__wrapper-item {
    margin: 0 25px;
    @include sp() {
      margin: 0 25px;
    }
  }
  &__date {
    font-size: 0.9vw;
    color: color(gray);
    margin: 10px 0;
    @include sp() {
      font-size: unset;
    }
  }
  &__item-title {
    margin: 25px 0 15px;
    font-weight: bold;
    background: color(black);
    color: color(white);
  }
}

.magazine {
  margin: 60px 0 0;
  &__container {
    margin: 0 0 0 160px;
    @include sp() {
      margin: 0 0 0 30px;
    }
  }
  &__tag {
    font-weight: lighter;
    margin: 0 0 40px;
    display: inline-block;
    padding: 0 0 5px 0;
    border-bottom: 1px solid;
  }
  &__title-wrapper {
    @include sp() {
      position: absolute;
      background: color(fantasy);
      height: 110px;
      width: 100%;
      transform: translate(-30px, 0);
    }
  }
  &__title {
    display: block;
    font-size: 3vw;
    @include sp() {
      position: absolute;
      top: -15px;
      left: 30px;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &__wrapper-list {
    overflow: scroll;
    @include sp() {
      position: relative;
      z-index: 1;
      margin: 50px 0;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    margin: 0 15px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__image-wrapper {
    width: 300px;
  }
  &__image {
    width: 100%;
    height: 180px;
  }
  &__date {
    margin: 15px 0 25px;
    font-size: 0.9vw;
    color: color(gray);
    @include sp() {
      font-size: 1rem;
    }
  }
  &__item-title {
    margin: 15px 0;
    font-weight: bold;
  }
}

.show-more {
  text-align: center;
  &__btn {
    appearance: none;
    -webkit-appearance: none;
    padding: 15px 100px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid;
    font-weight: bold;
  }
}

.container-fluid {
  margin: 0;
}

.recruitment {
  background: rgb(244, 242, 235);
  height: 962px;
  position: relative;
  padding: 118px 0 0;

  &__background {
    z-index: 1;
    position: absolute;
    background-color: #f2eadf;
    height: 382px;
    top: 328px;
    width: 60%;
    right: 0;
  }

  &__container {
    display: flex;
    margin: 0 160px;
    position: absolute;
    z-index: 2;
  }

  &__left {
    width: 50%;
  }

  &__title-en {
    font-size: 15px;
  }

  &__title {
    margin: 40px 0;
    font-size: 40px;
    color: #000000;
  }

  &__title-text {
    border-bottom: 1px solid #000;
    font-size: 15px;
  }

  &__des {
    font-size: 15px;
    line-height: 40px;
    color: #000000;
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__img {
    height: 324px;
  }

  &__list {
    width: 100%;
    margin: 75px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    height: 107px;
    display: flex;
    margin: 0 0 10px 0;
    background-color: #ffffff;

    &__title {
      padding: 30px 0 0 30px;
      font-size: 16px;
      font-weight: bold;
      width: 100%;
    }

    &__des {
      padding: 0 0 30px 30px;
      font-size: 14px;
      width: 100%;
    }
  }

  &__item-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  &__item-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__btn {
    border: 1px solid #333333;
    border-radius: 20px;
    margin: 0 30px 0 0;
    width: 151px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      margin: 0 0 0 10px;
    }
  }
}

.about-company {
  background-color: #f4f2eb;

  &__container {
    margin: 0 160px;
  }

  &__wrap {
    padding: 75px 0;
  }

  &__title {
    color: #000000;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 33px 0px 20px 0;
  }

  &__title-en {
    text-align: center;
  }

  &__title-text {
    border-bottom: 1px solid #000;
    font-size: 15px;
    padding: 0 0 5px 0;
  }

  &__table {
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 82px;
    border-top: 1px solid #b4b4b4;

    &:first-child {
      border: none;
    }

    &__location {
      border-top: 1px solid #b4b4b4;
      display: flex;
    }
  }

  &__left {
    width: 20%;

    &__location {
      width: 20%;
      margin: 30px 0 0;
    }
  }

  &__name {
    margin: 0 0 0 40px;
    font-size: 15px;
    font-weight: bold;
  }

  &__right {
    &__item {
      height: 82px;
      margin: 30px 0 0;
    }

    &__title {
      font-size: 15px;
      font-weight: bold;
    }

    &__des {
      margin: 10px 0 0;
      line-height: 20px;
    }
  }
}

.leader {
  &__wrap {
    display: flex;
    padding: 75px 0;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    margin: 0 0 70px 0;
    display: flex;

    &:nth-child(even) {
      padding: 0 0 0 30px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    width: 30%;
  }

  &__info {
    margin: 0;
    width: 70%;
  }

  &__position {
    color: #707070;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
  }

  &__des {
    line-height: 25px;
    font-size: 15px;
    width: 100%;
  }
}

.contact {
  &__container {
    margin: 0 160px;
    padding: 0 0 65px 0;
  }

  &__background {
    background-color: #f2eadf;
  }

  &__title-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
  }

  &__title-top {
    height: 50px;
    width: 100%;
    background-color: #f4f2eb;
  }

  &__title-bottom {
    height: 50px;
    width: 100%;
    background-color: #f2eadf;
  }

  &__title {
    font-size: 40px;
    position: absolute;
  }

  &__title-en {
    text-align: center;
  }

  &__title-text {
    border-bottom: 1px solid #000;
    padding: 0 0 5px 0;
    font-size: 15px;
  }

  &__bar {
    height: 220px;
    background: #ffffff;
    margin: 0 0 10px 0;
  }

  &__bar-title {
    padding: 50px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  &__bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 90px;
  }

  &__bar-item {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 0 10px 0;
    width: 25%;
  }

  &__bar-link {
    cursor: pointer;
  }

  &__form {
    padding: 65px 110px 0 110px;
    background: #ffffff;

    &__item {
      display: flex;
      width: 100%;
      padding: 0 0 50px 0;
    }

    &__left {
      width: 30%;
      display: flex;
    }

    &__required {
      padding: 5px 8px;
      background-color: #333333;
      color: #ffffff;
      height: 24px;
      font-size: 12px;
      width: 44px;
    }

    &__norequired {
      padding: 5px;
      background-color: #eaeaea;
      color: #000000;
      height: 24px;
      font-size: 12px;
      width: 44px;
    }

    &__name {
      margin: 0 0 0 20px;
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      word-wrap: break-word;
    }

    &__right {
      width: 80%;
    }

    &__input {
      height: 54px;
      background-color: #ffffff;
      border: 1px solid #707070;
      width: 100%;
      border-radius: 10px;
      padding: 0 0 0 20px;

      &:focus {
        outline: none;
      }
    }

    &__inputarea {
      height: 160px;
      background-color: #ffffff;
      border: 1px solid #707070;
      width: 100%;
      border-radius: 10px;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    &__wrap {
      margin: 0 0 15px 0;
      display: flex;

      &:last-child {
        margin: 0;
      }
    }

    &__radio {
      margin: 0 20px 0 0px;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      border-radius: 50%;
      outline: none;

      &:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
      }

      &:checked:before {
        background: #333333;
      }
    }

    &__noti {
      text-align: center;
    }

    &__link {
      font-size: 15px;
      color: #000000;
    }

    &__note {
      font-size: 15px;
      color: #000000;
      margin: 0 0 0 20px;
    }

    &__submit {
      text-align: center;
      padding: 50px 0;
    }

    &__button {
      border: 1px solid #272520;
      color: #272520;
      border-radius: 15px;
      transition: background-color 0.2s ease-out;
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 268px;
      padding: 9px;
      font-size: 14px;

      &:before {
        content: '';
        display: block;
        height: 1px;
        width: 12px;
        background-color: #0f0f0f;
        position: absolute;
        right: -43px;
        transform: rotate(45deg);
        top: 13px;
        transition: transform 0.3s ease-out;
      }

      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 105px;
        background-color: #0f0f0f;
        position: absolute;
        right: -41px;
        top: 17px;
        transition: transform 0.3s ease-out;
      }
    }
  }
}

.store {
  background-color: rgb(244, 242, 235);
  height: 300px;

  &__container {
    margin: 0 160px;
    padding: 75px 0;
  }

  &__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 33.33%;
    height: 150px;
  }

  &__text {
    position: absolute;
  }

  &__link {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .recruitment {
    padding: 0;
    &__container {
      display: block;
      position: absolute;
      margin: 60px 30px 0 30px;
    }

    &__background {
      width: 70%;
      height: 655px;
      top: 0;
      margin: 150px 0 0;
    }

    &__list {
      margin: 24px 0 0;
    }

    &__right {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__img {
      height: 100%;
      width: 100%;
    }

    &__left {
      width: 100%;
      margin: 130px 0 0;
    }

    &__item {
      height: 100px;

      &__title {
        font-size: 15px;
        padding: 24px 0 0 24px;
      }

      &__des {
        font-size: 14px;
        padding: 0 0 24px 24px;
      }
    }

    &__item-right {
      height: 24px;
      margin: 24px 0 0;
    }

    &__btn {
      height: 24px;
      font-size: 15px;
    }

    &__title {
      font-size: 30px;
      margin: 30px 0;
    }

    &__des {
      font-size: 14px;
      line-height: 33px;
    }
  }

  .about-company {
    &__title {
      font-size: 30px;
    }

    &__title-text {
      font-size: 14px;
    }

    &__wrap {
      padding: 0;
    }

    &__container {
      margin: 0 30px;
    }

    &__item {
      height: 55px;
    }

    &__left {
      width: 30%;
      font-size: 14px;
    }

    &__table {
      padding: 0 0 60px 0;
    }

    &__des {
      line-height: 24px;
      font-size: 13px;
    }

    &__right {
      width: 70%;

      &__item {
        margin: 30px 0 0;
      }

      &__title {
        font-size: 14px;
      }

      &__des {
        font-size: 13px;
      }
    }

    &__left__location {
      width: 30%;
    }

    &__name {
      margin: 0;
    }
  }

  .leader {
    &__wrap {
      padding: 0;
    }

    &__item {
      width: 100%;
      margin: 0 0 60px 0;

      &:nth-child(even) {
        padding: 0;
      }
    }

    &__img {
      width: 30%;
      height: 105px;

      img {
        height: 100%;
        background-size: cover;
      }
    }

    &__info {
      width: 70%;
    }
    &__position {
      font-size: 11px;
    }

    &__name {
      font-size: 14px;
    }

    &__des {
      width: 100%;
      font-size: 13px;
    }
  }

  .contact {
    &__title {
      font-size: 30px;
    }

    &__title-text {
      font-size: 14px;
    }

    &__container {
      margin: 0 30px;
      padding: 0 0 30px 0;
    }

    &__bar {
      height: 305px;
    }

    &__bar-title {
      font-size: 14px;
      padding: 30px 70px;
      font-weight: unset;
    }

    &__bar-link {
      font-size: 17px;
      font-weight: bold;
    }

    &__bar-content {
      padding: 0 30px;
      flex-wrap: wrap;
    }

    &__bar-item {
      width: 100%;
      margin: 0 0 30px 0;
      padding: 0 0 20px 0;
    }

    &__form {
      padding: 30px 30px 0 30px;

      &__name {
        font-size: 14px;
      }

      &__item {
        flex-wrap: wrap;
        padding: 0 0 45px 0;
      }

      &__left {
        width: 100%;
        margin: 0 0 20px 0;
        font-size: 10px;
      }

      &__right {
        width: 100%;
      }

      &__wrap {
        font-size: 15px;
      }

      &__input {
        height: 43px;
      }

      &__inputarea {
        height: 120px;
      }

      &__noti {
        text-align: left;
      }

      &__note {
        font-size: 13px;
      }

      &__button {
        width: 200px;
        height: 38px;

        &:before {
          width: 12px;

          right: -32px;
          top: 13px;
        }

        &:after {
          width: 65px;

          right: -30px;
          top: 17px;
        }
      }
    }
  }
  .store {
    height: 100%;
    &__container {
      margin: 0 30px;
      padding: 40px 0;
    }

    &__link {
      height: 75px;
    }

    &__img {
      height: 75px;
    }

    &__text {
      padding: 0 40px;
    }
  }
}
