// index
* {
  font-family: map-get($font-family, noto-sans);
}

.container {
  margin: 0 160px;
  @include sp() {
    margin: 0 30px;
  }
}

.content {
  margin: 20px 0 0;
  background: color(alabaster);
  display: flex;
}

.post{
  width: 70%;
  &__flex {
    display: flex;
  }
  &__main-wrapper {
    display: flex; 
  }
  &__main {
    width: 70%;
  }
  &__main-image {

  }
  &__author {
    font-weight: 700;
    color: color(navy);
    font-size: 12px;
  }
  &__divided {
    margin: 0 5px;
    font-size: 12px;
  }
  &__date {
    font-size: 12px;
  }
  &__side {
    width: 30%;
  }
}

.sidebar {
  width: 30%;
}

