.footer {
  background: color(nero);
  margin: 50px 0 0;
  &__wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    padding: 60px 0 0;
    @include sp() {
      display: block;
    }
  }
  &__title {
    color: color(white);
    font-size: 18px;
    position: relative;
    display: block;
    padding: 0 0 10px;
    border-bottom: 3px solid color(grey);
    font-weight: 700;
  }
  &__about {
    width: 335px;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__logo-image {
    width: 270px;
    height: 200px;
  }
  &__about-description {
    color: color(white);
    font-weight: 100;
    font-size: 14px;
    line-height: 1.8;
  }
  &__popular,
  &__recent {
    .footer__title {
      @include sp() {
        margin: 10px 0 0;
      }
    }
  }
}

.copyright {
  padding: 20px 0;
  text-align: center;
  background: color(dark-nero);
  color: color(gray);
  font-size: 14px;
  line-height: 1.4;
  font-style: italic;
  font-weight: 100;
  &__tui {
    display: inline-block;
    color: color(white);
  }
}

.scroll-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color(white);
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.5s;
  &__icon {
    color: color(white);
    position: absolute;
    width: 5px;
    height: 18px;
    background-color: currentColor;
    margin: 5px 0 0;
    &:before {
      content: '';
      position: absolute;
      left: -5px;
      top: -4px;
      width: 15px;
      height: 15px;
      border-top: solid 5px currentColor;
      border-right: solid 5px currentColor;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  &--show {
    opacity: 1;
  }
}
